.header {
  background-color: #a7d7c5;
  height: 16%;
  .header__wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .header__column {
      &:first-child {
        height: 100%;
        width: 10%;
        margin-top: 1%;
      }
      .logo {
        color: white;
        margin-top: 38%;
        font-size: 350%;
      }
      img {
        width: 75%;
        margin-top: 8%;
      }
      .logo-box {
        display: flex;
        align-items: center;
        margin-top: 4%;
      }
      &:last-child {
        width: 34%;
      }
      ul {
        font-size: 20px;
        display: flex;
        justify-content: flex-end;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        li:not(:first-child) {
          margin-left: 10%;
        }
      }
    }
  }
}
