@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap);html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  all: unset;
  cursor: pointer; }

*,
input {
  box-sizing: border-box; }

input {
  border: none;
  box-sizing: border-box; }
  input:focus, input:active {
    outline: none; }

.u-avatar {
  height: 100px;
  width: 100px;
  background-color: #74b49b;
  border-radius: 50%; }

html,
body {
  height: 100%; }

body {
  background-color: #f5f5f5;
  color: #444444;
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  overflow: hidden; }

main {
  width: 100%;
  height: 74%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1; }

main::after {
  background: url(https://images.unsplash.com/photo-1518186285589-2f7649de83e0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);
  top: 0;
  left: 0;
  position: absolute;
  background-size: cover;
  opacity: 0.5 !important;
  filter: alpha(opacity=50);
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%; }

button,
input:not([type="file"]),
select,
textarea,
.fileUpload {
  padding: 7px 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: #444444;
  background-color: white;
  resize: none; }
  button::-webkit-input-placeholder,
  input:not([type="file"])::-webkit-input-placeholder,
  select::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  .fileUpload::-webkit-input-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button::-moz-placeholder,
  input:not([type="file"])::-moz-placeholder,
  select::-moz-placeholder,
  textarea::-moz-placeholder,
  .fileUpload::-moz-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button:-ms-input-placeholder,
  input:not([type="file"]):-ms-input-placeholder,
  select:-ms-input-placeholder,
  textarea:-ms-input-placeholder,
  .fileUpload:-ms-input-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button::-ms-input-placeholder,
  input:not([type="file"])::-ms-input-placeholder,
  select::-ms-input-placeholder,
  textarea::-ms-input-placeholder,
  .fileUpload::-ms-input-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button::placeholder,
  input:not([type="file"])::placeholder,
  select::placeholder,
  textarea::placeholder,
  .fileUpload::placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }

button {
  border: none;
  background-color: #74b49b;
  color: white; }

button.social-login__github {
  border: 0;
  background-color: black;
  display: block;
  margin: 5% auto;
  text-align: center;
  border: 2px solid black;
  padding: 4% 2%;
  width: 70%;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: white;
  border-radius: 24px;
  transition: 0.25s; }

button,
input[type="submit"] {
  cursor: pointer; }

.loading {
  top: -100px;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 5px solid #21b8b2;
  position: relative;
  -webkit-animation: a1 2s linear infinite;
          animation: a1 2s linear infinite; }

.loading::before,
.loading::after {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: -5px;
  box-sizing: border-box;
  border-radius: 50%; }

.loading::before {
  border-top: 5px solid black;
  transform: rotate(120deg); }

.loading::after {
  border-top: 5px solid red;
  transform: rotate(240deg); }

.loading span {
  width: 100px;
  height: 100px;
  position: absolute;
  text-align: center;
  color: black;
  line-height: 100px;
  -webkit-animation: a2 2s linear infinite;
          animation: a2 2s linear infinite; }

@-webkit-keyframes a1 {
  to {
    transform: rotate(360deg); } }

@keyframes a1 {
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes a2 {
  to {
    transform: rotate(-360deg); } }

@keyframes a2 {
  to {
    transform: rotate(-360deg); } }

.header {
  background-color: #a7d7c5;
  height: 16%; }
  .header .header__wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .header .header__wrapper .header__column:first-child {
      height: 100%;
      width: 10%;
      margin-top: 1%; }
    .header .header__wrapper .header__column .logo {
      color: white;
      margin-top: 38%;
      font-size: 350%; }
    .header .header__wrapper .header__column img {
      width: 75%;
      margin-top: 8%; }
    .header .header__wrapper .header__column .logo-box {
      display: flex;
      align-items: center;
      margin-top: 4%; }
    .header .header__wrapper .header__column:last-child {
      width: 34%; }
    .header .header__wrapper .header__column ul {
      font-size: 20px;
      display: flex;
      justify-content: flex-end;
      color: white;
      font-weight: 600;
      text-transform: uppercase; }
      .header .header__wrapper .header__column ul li:not(:first-child) {
        margin-left: 10%; }

.footer {
  position: fixed;
  bottom: 0;
  padding: 15px 0;
  background-color: #5c8d89;
  border-top: 3px solid #5c8d89;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer .footer__icon {
    color: #f4f9f4;
    font-size: 30px;
    margin-bottom: 5px; }
  .footer .footer__text {
    color: #f4f9f4;
    font-weight: 800;
    text-transform: uppercase; }

.form-container {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  text-align: center; }
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"],
  .form-container select {
    border: 0;
    background-color: #263859;
    display: block;
    margin: 5% auto;
    text-align: center;
    border: 2px solid #263859;
    padding: 4% 2%;
    width: 70%;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: white;
    border-radius: 24px;
    transition: 0.25s; }
  .form-container select {
    -moz-text-align-last: center;
         text-align-last: center; }
  .form-container input::-webkit-input-placeholder {
    color: white;
    opacity: 0.5; }
  .form-container input::-moz-placeholder {
    color: white;
    opacity: 0.5; }
  .form-container input:-ms-input-placeholder {
    color: white;
    opacity: 0.5; }
  .form-container input::-ms-input-placeholder {
    color: white;
    opacity: 0.5; }
  .form-container input::placeholder {
    color: white;
    opacity: 0.5; }
  .form-container input[type="text"]:focus,
  .form-container input[type="email"]:focus,
  .form-container input[type="password"]:focus,
  .form-container select:focus {
    width: 100%;
    border-color: #23bdb7; }
  .form-container input[type="submit"] {
    background-color: #fff;
    border: 2px solid #23bdb7;
    color: #263859;
    display: block;
    margin: 5% auto;
    text-align: center;
    padding: 4% 2%;
    width: 70%;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 24px;
    transition: 0.25s; }
  .form-container input[type="submit"]:hover {
    background: #74b49b;
    border: 2px solid #263859;
    color: white; }

.form-container2 {
  width: 30%;
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-25%, -25%);
  background: none;
  text-align: center; }
  .form-container2 input[type="submit"] {
    background-color: #fff;
    border: 2px solid #23bdb7;
    color: #263859;
    display: block;
    margin: 5% auto;
    text-align: center;
    padding: 4% 2%;
    width: 70%;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 24px;
    transition: 0.25s; }
  .form-container2 input[type="submit"]:hover {
    background: #74b49b;
    border: 2px solid #263859;
    color: white; }

.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5%; }
  .social-login button {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .social-login button:not(:last-child) {
      margin-bottom: 15px; }
    .social-login button span {
      margin-right: 10px;
      font-size: 20px; }
  .social-login button:hover {
    background-color: #fff;
    color: black; }
  .social-login .social-login--github {
    background-color: #444444;
    color: white; }

.home-videos {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  grid-gap: 30px; }
  .home-videos .videoBlock:first-child,
  .home-videos .videoBlock:nth-child(2) {
    grid-column: span 3; }
  .home-videos .videoBlock:nth-child(3),
  .home-videos .videoBlock:nth-child(4),
  .home-videos .videoBlock:nth-child(5) {
    grid-column: span 2; }

.user-profile {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .user-profile .user-profile__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18px; }
    .user-profile .user-profile__header .profile__username {
      font-size: 25px;
      margin-top: 15px; }
  .user-profile .user-profile__btns {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .user-profile .user-profile__btns a:not(:last-child) {
      margin-bottom: 20px; }
